{
  "parser": "babel-eslint",
  "plugins": [ "mocha", "react" ],
  "extends": "airbnb",
  "rules": {
    "indent": [2],
    "comma-dangle": [2, "never"],
    "react/jsx-indent-props": [2, 4],
    "space-in-parens": [2, "always", { "exceptions": ["()","{}","[]"] } ],
    "computed-property-spacing": [2, "always"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true
  }
}
